body {
  background-image: url("/pictures/sky.jpg");
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  background-image: url("/pictures/sky2.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
}
.container-whole {
  max-width: 800px;
  width: 100%;
  background-image: url("/pictures/sky.jpg");
  background-size: cover;
  color: white;
  border-radius: 0;
  box-shadow: 0 15px 15px rgba (0, 0, 0342);
}
.wrapper {
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-gap: 1 ren;
}
